.container-user-create-general{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-box-form{
  background-color: #403F3F;
  min-width: 320px;
  border-radius: 10px;
  max-width: 400px;
}

.form{
  padding: 15px;
}
.form .row{
  margin-top:10px;
}
.user-create-title{
  color: #FFF;
  display: flex;
  justify-content: center;
}

